* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #5a2d0c;
    color: white;
}

#logo {
    font-size: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover {
    color: #ffb347;
    background-color: grey;
    padding: 4px;
    cursor: pointer;
}

.login-btn {
    background: #fff;
    color: #5a2d0c;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.login-btn:hover {
    color: #ffb347;
    background-color: black;
    cursor: pointer;
}
#active {
    color: #ffb347;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: url("Image/pk treats.jpeg") no-repeat center center/cover;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}

.hero h2 {
    font-size: 25px;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ffb347;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: hsl(0, 0%, 96%);
}

.feature-box {
    padding: 10px;
    font-weight: bold;
}

.menu {
    padding: 40px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card {
    width: 200px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: white;
}
.card img {
    width: 200px;
    height: 200px;
}

.card h3 {
    margin: 5px 0;
}

.card p {
    margin-bottom: 5px;
    color: #555;
}
.card:hover,.card:hover p {
    color: blue;
    background-color: #ffb347;
    cursor: pointer;
}

footer {
    background: #5a2d0c;
    color: white;
    text-align: center;
    padding: 15px;
}